make-blueprints/amazon-fba-fees-sync.json
{
  "name": "Amazon FBA Fees to Agent5 (Monthly)",
  "flow": [
    {
      "id": 1,
      "module": "builtin:BasicScheduler",
      "version": 1,
      "parameters": {
        "type": "interval",
        "interval": 43200
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "amazon-seller:makeApiCall",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "__AMAZON_SELLER_CONNECTION__"
      },
      "mapper": {
        "url": "/reports/2021-06-30/reports",
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "body": "{\n  \"reportType\": \"GET_FBA_ESTIMATED_FBA_FEES_TXT_DATA\",\n  \"marketplaceIds\": [\"A1PA6795UKMFR9\"]\n}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "builtin:Sleep",
      "version": 1,
      "parameters": {},
      "mapper": {
        "timeout": 120
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "amazon-seller:makeApiCall",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "__AMAZON_SELLER_CONNECTION__"
      },
      "mapper": {
        "url": "/reports/2021-06-30/reports/{{2.body.reportId}}",
        "method": "get",
        "headers": [],
        "qs": [],
        "body": ""
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": true,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "url": "https://ai.acropaq.com/api/amazon/webhook/report",
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "data": "{\n  \"reportType\": \"GET_FBA_ESTIMATED_FBA_FEES_TXT_DATA\",\n  \"reportId\": \"{{2.body.reportId}}\",\n  \"processingStatus\": \"{{4.body.processingStatus}}\",\n  \"reportDocumentId\": \"{{4.body.reportDocumentId}}\"\n}",
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true
    },
    "designer": {
      "orphans": []
    }
  }
}
